body{
    background-color:steelblue;
}
img{
    height: 100px;
    width: 100px;
}
#lion{
    border:15px double red;
    border-radius: 50%;
    
    height: 200px;
    width: 200px;
}
#div1{
    height: 100px;
    width: 100px;
     padding:10px;
     margin: 10px;
    border: 1px solid black;
    background-color: red;
}
#div2{
    height: 100px;
    width: 100px;
    padding:10px;
    margin: 10px;
    border: 1px solid black;
    background-color: green;
    border-radius: 50%;
}
#div3{
    height: 100px;
    width: 100px;
     padding:10px;
    margin: 10px;
    border: 1px solid black;
    background-color: blue;
    border-radius: 50%;
}
#div1:hover{
    background-color: yellow;
    box-shadow: 0 0 25px yellow;
}
#div2:hover{
    background-color: orange;
    box-shadow: 0 0 500px orange;
}
#div3:hover{
    background-color: purple;
    box-shadow: 0 0 250px purple;
}
form{
    width:350px;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 10px;
   backdrop-filter: blur(10px);
}
input{
    width: 80%;
    box-sizing: border-box;
    padding:14px 16px;
    background-color: blanchedalmond;
    transition:0.3s ease;
}
